@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
    width: 100%;
    background: lightblue url("src/GIF.gif");
    background-size: 60px 60px;

    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

h1{
    color: white;
	font-size: 80px;
    font-weight: 700;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    z-index: 10;
    position: relative;
}

#popcat{
    width: 400px;
    height: 450px;
    display: block;
  margin-left: auto;
  margin-right: auto;

}
div.popcat{
    position: absolute; 
bottom: 0;
    margin: 0;
   width:100%;
   align-self: center;
    z-index: 0;
}

#title{
    width:300px
}

#popcat{-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;}
